<!doctype html>

<html>
<head>
    <title>Homepage</title>
    <style>
        
    </style>
</head>
    
    <h2>{{the_title}}</h2>
        <p>
            <img src={{ne_photo0}} alt="Image" height=auto width="325">
            <img src={{ua_photo0}} alt="Image" height=auto width="325">
        </p>
    <a href={{ne_link0}}>{{ne_name0}}<br></a>
    <a href={{ua_link0}}>{{ua_name0}}<br></a>
        <p>
            <img src={{ne_photo1}} alt="Image" height=auto width="325">
        </p>
    <a href={{ne_link1}}>{{ne_name1}}<br></a>
        <p>
            <img src={{ne_photo2}} alt="Image" height=auto width="325">
        </p>
    <a href={{ne_link2}}>{{ne_name2}}<br></a>
        <p>
            <img src={{ne_photo3}} alt="Image" height=auto width="325">
        </p>
    <a href={{ne_link3}}>{{ne_name3}}<br></a>
        <p>
            <img src={{ne_photo4}} alt="Image" height=auto width="325">
        </p>
    <a href={{ne_link4}}>{{ne_name4}}<br></a>
    


</html>